<!doctype html>
<html class="no-js" lang="en" ng-app="thingsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-title"><strong>Things</strong></div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Equipment</a>
              <ul class="menu vertical" ng-controller="equipmentController">
                <li ng-repeat="item in equipment.items">
                  <a href="#">{{item.name}}</a>
                </li>
                <li ng-repeat="type in equipment.types">
                  <a href="#">{{type.name}}</a>
                  <ul class="menu">
                    <li ng-repeat="item in type.items">
                      <a href="#">{{item.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
